{% extends "homepage.html" %}
{% load static %}

{% block homepage %}

{% for element in background_list_template %}

{% if element.picture %}
  <div class="view jarallax" data-jarallax='{"speed": 0.01}' style="background-image: url('{{ MEDIA_URL }}{{ element.picture }}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask {{ element.mask_overlay }} d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12 white-text text-center">
            <h1 class="display-{{ element.title_size }} mb-0 pt-md-5 pt-5 {{ element.title_color }}-text font-weight-bold wow fadeInDown" data-wow-delay="3s">{{ element.title }}

            </h1>
            <h5 class="display-{{ element.subtitle_size }} text pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 {{ element.subtitle_color }}-text font-weight-bold wow fadeInDown"
              data-wow-delay="2s">{{ element.subtitle }}</h5>

          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
{% endif %}
{% endfor %}


<div class="container py-5 my-5">
  <section class="p-md-3 mx-md-5 text-center text-lg-left">

    <div class="row">
        {% for element in event_list_template %}
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div
            class="avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="{{ MEDIA_URL }}{{ element.picture }}"
              class="img-fluid"
            />
          </div>
            <div>
                 {% if element.youtube %}
                     <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/{{ element.youtube }}"  allowfullscreen>
                        </iframe>
                     </div>
                 {% endif %}
            </div>
          <div class="card-body">
            <p class="font-weight-bold my-2">{{ element.title }}</p>
            <p class="text-muted" style="text-align:justify">{{ element.body }}</p>
            {% if element.link %}
            <p><a target="_blank" href="{{ element.link }}"> {{ element.link_title }}</a> </p>
            {% endif %}

          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </section>
</div>



{% endblock homepage %}