

<p> {{ first_name}} {{ last_name }},</p>

<p>Te-ai inregistrat pe platforma Boanca Ionut Silviu</p>
<p>You have registered on Boanca Ionut Silviu platform</p>

<p> Pentru a activa contul apasa <a href="{{ activation_url }}"> aici </a> </p>
<p> To activate your account press <a href="{{ activation_url }}"> here </a> </p>

<p> Valabilitate: {{ availability.value }} {{ availability.unit }}.</p>
<p> Time left: {{ availability.value }} {{ availability.unit }}.</p>


<p> Iti multumesc! </p>
<p> Thank you! </p>
