{% extends "en_homepage.html" %}
{% load static %}

{% block en_homepage %}
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
<form class="form-inline" action="{% url 'search:en_search' %}"  method="post">
         {% csrf_token %}
          <div class="md-form my-0">
              <input type="text" name="search_for" value="{{ search_term }}"
                     placeholder="key word">
              <!--<input type="submit"  class="btn btn-primary" name="Go">-->
              <button type="submit" class="btn btn"> <i class="fas fa-search"></i></button>


          </div>
     </form>
        </div>
        <div class="col-md-6">
        {% if search_term %}

            <p><b>Your search: "{{ search_term }}".</b>

                <!--    book section-->
                {% if book_list.count == 1 %}
                <br>
                Found {{book_list.count}} at: <a href="{% url 'book:en_book' %}">"Book recomandation" </a>
                {% elif book_list.count == 0 %}
                {% else %}
                <br>
                Found {{book_list.count}} at <a href="{% url 'book:en_book' %}">"Book recomandation" </a>
                {% endif %}


                <!--    book body section-->
                {% if book_body_list.count == 1 %}
                <br>
                Found {{book_body_list.count}} at <a href="{% url 'book:en_book' %}">"Book recomandation" </a>
                {% elif book_body_list.count == 0 %}
                {% else %}
                <br>
                Found {{book_body_list.count}} at <a href="{% url 'book:en_book' %}">"Book recomandation" </a>
                {% endif %}

                <!--    story section-->
                {% if story_list.count == 1 %}
                <br>
                Found {{story_list.count}} at <a href="{% url 'story:en_story' %}">"My story" </a>
                {% elif story_list.count == 0 %}
                {% else %}
                <br>
                Found {{story_list.count}} at <a href="{% url 'story:en_story' %}">"My story" </a>
                {% endif %}

                <!--    personal development section-->
                {% if personal_list.count == 1 %}
                <br>
                Found {{personal_list.count}} at <a href="{% url 'personal:en_personal' %}">"Personal development" </a>
                {% elif personal_list.count == 0 %}
                {% else %}
                <br>
                Found {{personal_list.count}} at <a href="{% url 'personal:en_personal' %}">"Personal development" </a>
                {% endif %}

                <!--    professional development section-->
                {% if professional_list.count == 1 %}
                <br>
                Found {{professional_list.count}} at <a href="{% url 'professional:en_professional' %}">"Professional development" </a>
                {% elif professional_list.count == 0 %}
                {% else %}
                <br>
                Found {{professional_list.count}} at <a href="{% url 'professional:en_professional' %}">"Professional development" </a>
                {% endif %}

                <!--    gratitude and thankfulness section-->
                {% if gratitude_list.count == 1 %}
                <br>
                Found {{gratitude_list.count}} at <a href="{% url 'gratitude:en_gratitude' %}">"Gratitude"</a>
                {% elif gratitude_list.count == 0 %}
                {% else %}
                <br>
                Found {{gratitude_list.count}} at <a href="{% url 'gratitude:en_gratitude' %}">"Gratitude"</a>
                {% endif %}

            

                <!--    direction section-->
                {% if direction_list.count == 1 %}
                <br>
                Found {{direction_list.count}} at <a href="{% url 'direction:en_direction' %}">"Direction"</a>
                {% elif direction_list.count == 0 %}
                {% else %}
                <br>
                Found {{direction_list.count}} at <a href="{% url 'direction:en_direction' %}">"Direction"</a>
                {% endif %}


                <!--    events section-->
                {% if event_list.count == 1 %}
                <br>
                Found {{event_list.count}} at <a href="{% url 'event:en_event' %}">"Events"</a>
                {% elif event_list.count == 0 %}
                {% else %}
                <br>
                Found {{event_list.count}} at <a href="{% url 'event:en_event' %}">"Events"</a>
                {% endif %}

                <!--    text section-->
                {% if text_list.count == 1 %}
                <br>
                Found {{text_list.count}} at <a href="{% url 'text:en_text' %}">"Text"</a>
                {% elif text_list.count == 0 %}
                {% else  %}
                <br>
                Found {{text_list.count}} at <a href="{% url 'text:en_text' %}">"Text"</a>
                {% endif %}


                <!--    text body section-->
                {% if body_text_list.count == 1 %}
                <br>
                Found {{body_text_list.count}} at <a href="{% url 'text:en_text' %}">"Text"</a>
                {% elif body_text_list.count == 0 %}
                {% else  %}
                <br>
                Found {{body_text_list.count}} at <a href="{% url 'text:en_text' %}">"Text"</a>
                {% endif %}


                <!--    audio section-->
                {% if audio_list.count == 1 %}
                <br>
                Found {{audio_list.count}} at <a href="{% url 'audio:en_audio' %}">"Audio"</a>
                {% elif audio_list.count == 0 %}
                {% else  %}
                <br>
                Found {{audio_list.count}} at <a href="{% url 'audio:en_audio' %}">"Audio"</a>
                {% endif %}


                <!--    video section-->
                {% if video_list.count == 1 %}
                <br>
                Found {{video_list.count}} at <a href="{% url 'video:en_video' %}">"Video"</a>
                {% elif video_list.count == 0 %}
                {% else  %}
                <br>
                Found {{video_list.count}} at <a href="{% url 'video:en_video' %}">"Video"</a>
                {% endif %}

                <!--    interview section-->
                {% if interview_list.count == 1 %}
                <br>
                Found {{interview_list.count}} at <a href="{% url 'interview:en_interview' %}">"Interviews"</a>
                {% elif interview_list.count == 0 %}
                {% else  %}
                <br>
                Found {{interview_list.count}} at <a href="{% url 'interview:en_interview' %}">"Interviews"</a>
                {% endif %}

                <!--    tools section-->
                {% if tool_list.count == 1 %}
                <br>
                Found {{tool_list.count}} at <a href="{% url 'tool:en_tool' %}">"Tools"</a>
                {% elif tool_list.count == 0 %}
                {% else %}
                <br>
                Found {{tool_list.count}} at <a href="{% url 'tool:en_tool' %}">"Tools"</a>
                {% endif %}

            </p>
        </div>

    </div>
    <hr>
    <br>
    <div class="row">
<!--    story section-->
                 {% for item in story_list %}
                <div class="col-md-6">
                        <h4> {{ item.title }}</h4>
                        <p class="text-justify">{{ item.body }}</p>
                         <p>Key word searched is on  <a href="{% url 'story:en_story' %}">"My story" </a> at {{ item.title }}</p>
                <hr></div>
                 {% endfor %}
<!--    story section-->

<!--    personal development section-->
                 {% for item in personal_list %}
                <div class="col-md-6">
                        <h4> {{ item.title }}</h4>
                        <p class="text-justify">{{ item.body }}</p>
                         <p>Key word searched is on  <a href="{% url 'personal:en_personal' %}">"Personal development" </a> at {{ item.title }}</p>
                <hr></div>
                 {% endfor %}
<!--    personal development section-->

<!--    professional development section-->
                 {% for item in professional_list %}
                <div class="col-md-6">
                        <h4> {{ item.title }}</h4>
                        <p class="text-justify">{{ item.body }}</p>
                         <p>Key word searched is on  <a href="{% url 'professional:en_professional' %}">"Professional development" </a> at {{ item.title }}</p>
                <hr></div>
                 {% endfor %}
<!--    professional development section-->

<!--    gratitude and thankfulness section-->
                 {% for item in gratitude_list %}
                <div class="col-md-6">
                        <h4> {{ item.title }}</h4>
                        <p class="text-justify">{{ item.body }}</p>
                         <p>Key word searched is on  <a href="{% url 'gratitude:en_gratitude' %}">"Gratitude"</a> at {{ item.title }}</p>
                <hr></div>
                 {% endfor %}
<!--    gratitude and thankfulness section-->



<!--    direction section-->
                 {% for item in direction_list %}
        <div class="col-md-6">
            <h4> {{ item.title }}</h4>
            <p class="text-justify">{{ item.body }}</p>
             <p>Key word searched is on 
                 <a href="{% url 'direction:en_direction' %}">"Direction" </a> at {{ item.title }}</p>
        <hr></div>
            {% endfor %}
<!--    direction section-->


<!--    events section-->
                 {% for item in event_list %}
        <div class="col-md-6">
            <h4> {{ item.title }}</h4>
            <p class="text-justify">{{ item.body }}</p>
             <p>Key word searched is on 
                 <a href="{% url 'event:en_event' %}">"Events" </a> at {{ item.title }}</p>
        <hr></div>
            {% endfor %}
<!--    events section-->

<!--    text section-->

<!--    text section-->


<!--    body text section-->
    {% for item in body_text_list %}
        <div class="col-md-6">
            <p>Key word searched is on  "Text" at
                <a href="/resources/text/en/details/{{item.heading.id}}">{{ item.title }}</a></p>
            <h4> {{ item.title }}</h4>
            <textarea rows="7" class="text-justify" cols="60">{{ item.body }}</textarea>
        <hr></div>
    {% endfor %}
<!--    body text section-->


<!--    audio section-->
    {% for item in audio_list %}
        <div class="col-md-6">
            <p>Key word searched is on  "Text" at
                <a href="/resources/audio/en/details/{{item.id}}">{{ item.title }}</a></p>
            <audio controls style="padding-top: 2%;">
                <source src="{{ MEDIA_URL }}{{item.audio_file}}" type="audio/mp3">
            </audio>
            <h4> {{ item.title }}</h4>
            <textarea rows="7" class="text-justify" cols="60">
                {{ item.body }}
            </textarea>

        <hr></div>
    {% endfor %}
<!--    audio section-->


<!--    video section-->
    {% for item in video_list %}
        <div class="col-md-6">
            <h4> {{ item.title }}</h4>
            <p class="text-justify">{{ item.category }}</p>
             <p>Key word searched is on 
                 <a href="{% url 'video:en_video' %}">"Video" </a> at "{{ item.title }}"</p>
        <div class="embed-responsive embed-responsive-16by9">
            {% if item.youtube_video_link %}
                <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/{{ item.youtube_video_link }}"  allowfullscreen>
                </iframe>
            {% endif %}
        </div>
            <hr></div>
    {% endfor %}
<!--    video section-->

<!--    interview section-->
    {% for item in interview_list %}
        <div class="col-md-6">
            <h4> {{ item.title }}</h4>
            <p class="text-justify">{{ item.category }}</p>
             <p>Key word searched is on 
                 <a href="{% url 'interview:en_interview' %}">"Interviuri" </a> at "{{ item.title }}"</p>
        <div class="embed-responsive embed-responsive-16by9">
            {% if item.youtube_video_link %}
                <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/{{ item.youtube_video_link }}"  allowfullscreen>
                </iframe>
            {% endif %}
        </div>
            <hr></div>
    {% endfor %}
<!--    interview section-->


<!--    tools section-->
    {% for item in tool_list %}
        <div class="col-md-6">
            <p>Key word searched is on  "Text" at
                <a href="/resources/tools/en/details/{{item.heading.id}}">{{ item.title }}</a></p>
            <h4> {{ item.title }}</h4>
            <p class="text-justify">{{ item.body }}</p>
        <hr></div>
    {% endfor %}
<!--    tools section-->



<!--    book section-->
                 {% for item in book_list %}
        <div class="col-md-6">
                        <h4> {{ item.title }}</h4>
                        <p class="text-justify">{{ item.subtitle }}</p>
                         <p>Key word searched is on  "Book recomandation" at
                             <a href="/resources/books/en/details/{{item.id}}">{{ item.title }} </a>  </p>
        <hr></div>
            {% endfor %}
<!--    book section-->


<!--    book body section-->
                 {% for item in book_body_list %}
        <div class="col-md-6">
            <h4> {{ item.heading.title }}</h4>
            <p> {{ item.heading.subtitle }}</p>
             <p>Key word searched is on  "Book recomandation" at
                 <a href="/resources/books/en/details/{{item.heading.id}}">{{ item.heading.title }} </a> </p>

            <textarea rows="7" class="text-justify" cols="60">{{ item.body }}</textarea>

        <hr></div>
            {% endfor %}
<!--    book body section-->

<!--    book section-->

            {% else %}

            <p> Type at least one character in the search fiel </p>


            {% endif %}

<hr>
        </div>
    </div>
{% endblock en_homepage %}
