{% load static %}
{% load crispy_forms_tags %}

<div class="container my-5">

<!--Grid row-->
<div class="row d-flex align-items-center justify-content-center py-5">
  <!--Grid column-->
  <div class="col-md-8 col-xl-6">
    <!--Form-->
    <div class="card">
      <div class="card-body z-depth-2 p-4">
        <h3 class="font-weight-bold my-4 pb-2">Vrei vesti de la mine?</h3>

        <p class="text-right small pr-2 ">Aboneaza-te ca sa primesti noutati de la mine pe email.</p>

          <a href="{% url 'users:ro_newsletter' %}" class="btn btn-primary mb-2 font-weight-bold" >Abonare</a>



      </div>
    </div>
    <!--/.Form-->
  </div>
  <!--Grid column-->
</div>
        <!--Grid row-->

</div>

 <footer class="page-footer font-small pt-4">

        <!-- Footer Elements -->


        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
        <a href="{% url 'story:story' %}"> Boanca Ionut Silviu</a>
            <p>™ All Rights Reserved | <a href="{% url 'gdpr:ro_gdpr' %}">GDPR</a></p>
            <p>Made by:
        <a href="{% url 'linkedin:cv' %}"> Duluman Cristian</a></p>
        </div>



      </footer>
      <!-- Footer -->

