<!-- Footer -->
<footer class="page-footer font-small">

    <div class="container">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
                <i class="fab fa-facebook"> </i>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
                <i class="fab fa-twitter"> </i>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
                <i class="fab fa-youtube"> </i>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
                <i class="fab fa-linkedin"> </i>
            </a>
            </li>
            <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
                <i class="fab fa-instagram"> </i>
            </a>
            </li>
        </ul>
        <!-- Social buttons -->

        </div>
        <!-- Footer Elements -->


    <div class="row ">
    <div class="container mt-3 mb-3 text-center text-center">

    <nav class="navbar navbar-expand-lg navbar-dark blue-color" >

                <button class="navbar-toggler danger-color" type="button" data-toggle="collapse" data-target="#basicF" aria-controls="basicF"
                  aria-expanded="false" aria-label="Toggle navigation">
                    <strong> Useful links </strong>
                  <span class="navbar-toggler-icon"></span>
                </button>
            <!-- Collapse button -->

                  <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicF">

          <!--Footer Links-->

                 <!-- Collapse button -->


                <!--First column-->
            <br>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>About us</strong>
                    </h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 75px;">

                    <p>
                        <a href="/"> Our legacy </a>


                    </p>
                    <p>
                        <a href="#!"> Careers </a>
                    </p>
                    <p>
                        <a href="#!">  </a>
                    </p>
                </div>

                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Customer Service</strong>
                    </h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 150px;">
                    <p>
                        <a href="#!">How We Work </a>
                    </p>
                    <p>
                        <a href="#!">Terms & conditions </a>
                    </p>
                    <p>
                        <a href="#!">Dispute resolution </a>
                    </p>
                    <p>
                        <a href="#!">Privacy & cookie statement </a>
                    </p>
                </div>
                <!--/.Second column-->

                <!--Third column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Useful links</strong>
                    </h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 106px;">
                    <p>
                        <a href="#!">Your Account</a>
                    </p>
                    <p>
                        <a href="#!">Become an Affiliate</a>
                    </p>
                    <p >
                        <a href="#!">Safety Resource Center</a>
                    </p>
                    <p>
                        <a href="#!">Coronavirus (COVID-19) FAQs</a>
                    </p>
                </div>
                <!--/.Third column-->

                <!--Fourth column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Contact</strong>
                    </h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
                    <p>
                        <i class="fa fa-home mr-2"></i> Craiova, str Penes Curcanul, nr 6 </p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> contact@visit.ro</p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> 0040723229793</p>
                    <p>
                        <i class="fa fa-print mr-3"></i> 0040351411631</p>
                </div>
                <!--/.Fourth column-->


                  </div>
            </nav>
                    </div>
        </div>
 <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
</footer>

    <!-- Footer -->
    <footer class="page-footer font-small pt-4">

        <!-- Footer Elements -->


        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->


<!-- AddToAny BEGIN -->
<!--<div class="a2a_kit a2a_kit_size_32 a2a_default_style">-->
<!--<a class="a2a_dd" href="https://www.addtoany.com/share"></a>-->
<!--<a class="a2a_button_twitter"></a>-->
<!--<a class="a2a_button_linkedin"></a>-->
<!--<a class="a2a_button_facebook"></a>-->
<!--<a class="a2a_button_whatsapp"></a>-->
<!--<a class="a2a_button_email"></a>-->
<!--</div>-->
<!--<script async src="https://static.addtoany.com/menu/page.js"></script>-->
<!-- AddToAny END -->