

<div class="container my-5">

<!--Grid row-->
<div class="row d-flex align-items-center justify-content-center py-5">
  <!--Grid column-->
  <div class="col-md-8 col-xl-6">
    <!--Form-->
    <div class="card">
      <div class="card-body z-depth-2 p-4">
        <h3 class="font-weight-bold my-4 pb-2">Vrei vesti de la mine?</h3>

        <p class="text-right small pr-2 ">Aboneaza-te ca sa primesti noutati de la mine pe email.</p>
        <form class="pl-2" action="" method="post" target="_blank">
          <div class="input-danger  input-group  mb-3">
              <span class="input-group-text rgba-white-light border-0"><i class="fa fa-envelope "></i></span>
            <input type="email" class="form-control  border-1 z-depth-0 text-dark" placeholder="Adresa ta de email" aria-label="Enter Email Address"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-md btn-rounded blue white-text font-weight-bold m-0 px-3 py-2 z-depth-1" type="button">Ma abonez<i class="fas fa-arrow-right pl-2"></i></button>
            </div>
          </div>
        </form>

      </div>
    </div>
    <!--/.Form-->
  </div>
  <!--Grid column-->
</div>
        <!--Grid row-->

</div>


