

  <header style="margin: 10px 10px 10px 10px">
  <!--Main Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color" style="
        letter-spacing: 3px ; font-weight: bold;">

          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>


          </button>
            <!-- Collapse button -->

                  <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                      <!-- Buttons -->
                <br><br>
              <ul class="navbar-nav ml-4">
                  <li class="nav-item ">

                      <a class="nav-link " href="/">Home
                          <span class="sr-only">(current)</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'hotel:list' %}">Hotel</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'hotel:random' %}">Random</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'review:app_review' %}">Review</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'users:contact' %}">Contact</a>
                  </li>

              </ul>
                        <!-- Buttons -->



            </div>

             <!-- Buttons for user -->
            <div class="navbar-nav ml-4" >
                <div class="row">

                    {% if user.is_authenticated %}

                    <div class="nav-link white-text mr-2">
                        <p>Welcome, {{ user.first_name }}!</p>
                    </div>



                    <a class="nav-link white-text mr-2" href="{% url 'users:logout' %}">Logout</a>

                    <p class="nav-item" style="font-weight: bold">
                      <a class="nav-link mr-4" href="{% url 'users:profile' %}">
                          <span class="badge badge-pill badge-danger" >
                              <i class="far fa-heart ml-1 " ></i>
                              Profile</span></a>
                    </p>

                    {% else %}

                    <p class="nav-item ">
                      <a class="nav-link white-text mr-2 " href="{% url 'users:login' %}">
                          <i class="fas fa-user white-text" aria-hidden="true"></i>Login</a>
                    </p>

                    <p class="nav-item" style="font-weight: bold">
                      <a class="nav-link mr-4" href="{% url 'users:register' %}">
                          <span class="badge badge-pill badge-danger" >
                              <i class="far fa-gem ml-1 " ></i>
                              Register</span></a>
                    </p>


                {% endif %}
                </div>
            </div>
            <!-- Buttons for user -->
        </nav>


      <!--Staff Navigation Bar-->
      {% if user.is_staff %}
      <nav class="navbar navbar-expand-lg navbar-dark danger-color" style="
        letter-spacing: 3px ; font-weight: bold;">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicNav" aria-controls="basicNav"
              aria-expanded="false" aria-label="Navigation">
              <span class="navbar-toggler-icon"></span>
              <strong>Staff nav bar</strong>
          </button>
                  <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicNav">
                      <!-- Links -->
                <br><br>

                <a class="nav-link white-text mr-2" href="{% url 'hotel:create' %}">
                        <i class="fas fa-magic mr-1"></i> Create Hotel</a>


            </div>
      </nav>
         {% endif %}
      <!--Staff Navigation Bar-->

<br>

  <ul class="nav nav-tabs font-weight-bold" id="myTab" role="tablist" >

  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Acasa</a>
  </li>

      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Despre mine</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Povestea mea</a>
      <a class="dropdown-item" href="#">Dezvoltare personala</a>
      <a class="dropdown-item" href="#">Multumiri si recunostinta</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Testimoniale</a>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Directie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false">Evenimente</a>
  </li>
      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Resurse</a>
    <div class="dropdown-menu dropdown-secondary">
      <a class="dropdown-item" href="#">Text</a>
      <a class="dropdown-item" href="#">Audio</a>
      <a class="dropdown-item" href="#">Video</a>
        <a class="dropdown-item" href="#">Interviuri</a>
        <a class="dropdown-item" href="#">Unelte</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>

      <div class="navbar-nav ml-4" >
                <div class="row">

                    {% if user.is_authenticated %}

                    <div class="nav-link blue-text mr-2">
                        <p>Welcome, {{ user.first_name }}!</p>
                    </div>



                    <a class="nav-link blue-text mr-2" href="{% url 'users:logout' %}">Logout</a>

                    <p class="nav-item" style="font-weight: bold">
                      <a class="nav-link mr-4" href="{% url 'users:profile' %}">
                          <span class="badge badge-pill badge-danger" >
                              <i class="far fa-heart ml-1 " ></i>
                              Profile</span></a>
                    </p>

                    {% else %}

                    <p class="nav-item ">
                      <a class="nav-link blue-text mr-2 " href="{% url 'users:login' %}">
                          <i class="fas fa-user blue-text" aria-hidden="true"></i>Login</a>
                    </p>

                    <p class="nav-item" style="font-weight: bold">
                      <a class="nav-link mr-4" href="{% url 'users:register' %}">
                          <span class="badge badge-pill badge-danger" >
                              <i class="far fa-gem ml-1 " ></i>
                              Register</span></a>
                    </p>


                {% endif %}
                </div>
            </div>
</ul>
<!--<div class="tab-content" id="myTabContent">-->
<!--  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>-->
<!--  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>-->
<!--  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>-->
<!--</div>-->

  <br>
         </header>