<br>
<br>
<br>


<nav class="navbar  navbar-expand-lg">
<!--    <div class="container">-->
 <h2> <a class="navbar-brand" target="_blank" href="{% url 'admin:index' %}">
     <i class="fas fa-tools mr-1 red-text" ></i></a></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: red;">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav" >
    <ul class="navbar-nav mr-auto" style="font-weight: bold">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="/admin/a_home_page">Acasa <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Despre mine
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <a class="dropdown-item" target="_blank" href="/admin/story" style="font-weight: bold">Povestea mea</a>
            <a class="nav-link" target="_blank"  href="/admin/direction" style="font-weight: bold">Directie</a>
            <a class="dropdown-item" target="_blank" href="/admin/personal" style="font-weight: bold">Dezvoltare personala</a>
            <a class="dropdown-item" target="_blank" href="/admin/professional" style="font-weight: bold">Dezvoltare profesionala</a>
            <a class="dropdown-item" target="_blank" href="/admin/gratitude" style="font-weight: bold">Multumiri si recunostinta</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" target="_blank" href="/admin/review" style="font-weight: bold">Testimoniale</a> </div>
      </li>



  <li class="nav-item ">
      <a class="nav-link"target="_blank"  href="/admin/event" style="font-weight: bold" >Evenimente</a>
  </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
    aria-expanded="false">Resurse</a>
        <div class="dropdown-menu dropdown-secondary">
            <a class="dropdown-item" target="_blank" href="/admin/text" style="font-weight: bold">Text
                <i class="fas fa-envelope green-text ml-4" style="text-align: right" ></i></a>
            <a class="dropdown-item" target="_blank" href="/admin/audio" style="font-weight: bold">Audio
                <i class="fas fa-music indigo-text ml-4" ></i></a>
            <a class="dropdown-item" target="_blank" href="/admin/video" style="font-weight: bold">Video
                <i class="fas fa-video red-text ml-4" ></i></a>
            <a class="dropdown-item" target="_blank" href="/admin/interview" style="font-weight: bold">Interviuri
                <i class="fas fa-microphone amber-text ml-2" ></i></a>
            <a class="dropdown-item"  target="_blank" href="/admin/tool" style="font-weight: bold">Unelte
                <i class="fas fa-tools dark-text ml-4" ></i></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" target="_blank" href="/admin/book" style="font-weight: bold">Recomandari de carte
                <i class="fas fa-book red-text ml-1" ></i></a>
        </div>
    </li>
        <li class="nav-item">
      <a class="nav-link"  target="_blank" href="/admin/users/contactapp/" >Contact Ro</a>
  </li>
        <li class="nav-item">
      <a class="nav-link"  target="_blank" href="/admin/users/encontactapp/" >Contact En</a>
  </li>
<li class="nav-item">
      <a class="nav-link"  target="_blank" href="/admin/gdpr/rogdprmodel/" >GDPR Ro</a>
  </li>
        <li class="nav-item">
      <a class="nav-link"  target="_blank" href="/admin/gdpr/engdprmodel/" >GDPR En</a>
  </li>
 <li class="nav-item">
      <a class="nav-link"  target="_blank" href="/admin/users/ronewsletter/" >Abonati la Newsletter</a>
  </li>
    </ul>

  </div>
<!--        </div>-->
</nav>

