<nav class="navbar  navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="font-weight: bold">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home mr-1" ></i>Acasa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Despre mine
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'story:story' %}">Povestea mea</a>
          <a class="dropdown-item" href="{% url 'personal:personal' %}">Dezvoltare personala</a>
            <a class="dropdown-item" href="{% url 'professional:professional' %}">Dezvoltare profesionala</a>
          <a class="dropdown-item" href="#">Multumiri si recunostinta</a>
      <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'review:app_review' %}">Testimoniale</a> </div>
      </li>
     <li class="nav-item">
      <a class="nav-link"   href="#profile">Directie</a>
  </li>

  <li class="nav-item ">
      <a class="nav-link" href="#" >Evenimente</a>
  </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
    aria-expanded="false">Resurse</a>
        <div class="dropdown-menu dropdown-secondary">
            <a class="dropdown-item" href="#">Text</a>
            <a class="dropdown-item" href="#">Audio</a>
            <a class="dropdown-item" href="#">Video</a>
            <a class="dropdown-item" href="#">Interviuri</a>
            <a class="dropdown-item" href="#">Unelte</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>
        <li class="nav-item">
      <a class="nav-link"   href="{% url 'users:contact' %}">Contact</a>
  </li>


    </ul>
   <ul class="navbar-nav" style="font-weight: bold">
      <li  class="nav-item">
    <form class="form-inline">

        <input class="form-control mr-sm-2" type="text" placeholder="...">
        <a class="nav-link" type="submit"><i class="fas fa-search " ></i>Cauta</a>

    </form>
    </li>

    {% if user.is_authenticated %}

    <li class="nav-item  ">
        <a class="nav-link"   href="#contact">
        Welcome, {{ user.first_name }}!
        </a>
    </li>

      <li class="nav-item  ">
          <a class="nav-link" href="{% url 'users:logout' %}">Logout</a></li>

      <li class="nav-item  ">
    <a class="nav-link" id="prof-tab"  href="{% url 'users:profile' %}" ><i class='fas fa-user  mr-1'></i>Profile</a>
  </li>

    {% else %}

    <li class="nav-item">
      <a class="nav-link " href="{% url 'users:login' %}">
          <i class="fas fa-user" aria-hidden="true"></i>Login</a>
    </li>

    <li class="nav-item" style="font-weight: bold">
      <a class="nav-link" href="{% url 'users:register' %}">
          <i class="far fa-gem " ></i>
              Register</a>
    </li>

{% endif %}

</ul>
  </div>
</nav>