
<br>

<nav class="navbar navbar-expand-sm font-weight-bold fixed-top navbar-light  lighten-4 mb-4">

  <ul class="navbar-nav mr-auto" >


  <li class="nav-item ">
    <a class="nav-link" href="{% url 'home' %}" id="home-tab"   role="tab" aria-controls="home"
      aria-selected="false"><i class="fas fa-home mr-1" ></i>Facebook</a>
  </li>



  <li class="nav-item">
      <a class="nav-link" id="direction-tab"  href="#profile" role="tab" aria-controls="direction">Youtube</a>
  </li>

  <li class="nav-item ">
      <a class="nav-link" id="contact-tab"  href="#contact" role="tab" aria-controls="contact">Instagram</a>
  </li>

</ul>

      </nav>



