     <br>
        <br>
        {% if request.user.stripe_data.customer_id  %}
    <a class="btn btn mb-2" href="{% url 'payments:view_cards' %}">My cards</a>
        {% endif %}




                      <!--Social login-->
        <div class="col-md-4" >
            <br>
            <div class="row">
                <p class="font-weight-bold"> Daca nu ai un cont creat, autentifica-te cu contul de Facebook sau Google </p>
            </div>

            <div class="row">
                <h4> <a href="{% url 'social:begin' 'facebook' %}">Facebook</a> </h4>

            </div>

            <div class="row">
                <h4> <a href="{% url 'social:begin' 'google-oauth2' %}">Google+</a> </h4>

            </div>

        </div>
        <!--Social login-->