<div class="container my-5">


  <!--Section: Content-->
  <section class="p-5 z-depth-1">
     {% if title_list %}
    {% for title in title_list %}
    <h3 class="text-center font-weight-bold mb-5">{{ title.title }}</h3>
    {% endfor %}
     {% endif %}
    <div class="row d-flex justify-content-center">
      {% for feature in feature_list %}
      <div class="col-md-6 col-lg-6 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
           <i class="fa fa-{{ feature.icon }} fa-{{ feature.size }} {{ feature.color }}-text"></i>
          <span class="d-inline-block count{{ forloop.counter0 }}" data-from="0" data-to="{{ feature.data_max }}" data-time="{{ feature.data_time_speed }}"></span>
        </h4>
        <p class="font-weight-normal text-muted">{{ feature.title }}</p>
      </div>
      {% endfor %}

    </div>

  </section>
  <!--Section: Content-->


</div>

<!--english counter version-->
<div class="container my-5">


  <!--Section: Content-->
  <section class="p-5 z-depth-1">
     {% if title_list %}
    {% for title in title_list %}
    <h3 class="text-center font-weight-bold mb-5">{{ title.title }}</h3>
    {% endfor %}
     {% endif %}
    <div class="row d-flex justify-content-center">
      {% for feature in feature_list %}
      <div class="col-md-6 col-lg-6 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
           <i class="fa fa-{{ feature.icon }} fa-{{ feature.size }} {{ feature.color }}-text"></i>
          <span class="d-inline-block count{{ forloop.counter0 }}" data-from="0" data-to="{{ feature.data_max }}" data-time="{{ feature.data_time_speed }}"></span>
        </h4>
        <p class="font-weight-normal text-muted">{{ feature.title }}</p>
      </div>
      {% endfor %}

    </div>

  </section>
  <!--Section: Content-->


</div>