{% extends "en_homepage.html" %}
{% load static %}

{% block en_homepage %}

{% for element in background_list_template %}

{% if element.picture %}
  <div class="view jarallax" data-jarallax='{"speed": 0.01}' style="background-image: url('{{ MEDIA_URL }}{{ element.picture }}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask {{ element.mask_overlay }} d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12  text-center">
            <h1 class="display-{{ element.title_size }} mb-0 pt-md-5 pt-5 {{ element.title_color }}-text font-weight-bold wow fadeInDown" data-wow-delay="3s">{{ element.title }}

            </h1>
            <h5 class="display-{{ element.subtitle_size }} text pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 {{ element.subtitle_color }}-text font-weight-bold wow fadeInDown"
              data-wow-delay="2s">{{ element.subtitle }}</h5>

          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>

{% endif %}
{% endfor %}

{% if not  element in background_list_template %}
<br><br><br>
{% endif %}

<div class="container">
    <div class="row">
{% for element in pdf_text %}
<div class="col-lg-4">
<h1>{{ element.title }}</h1>
<h5>{{ element.author }}</h5>
<p>Read pdf: <a href="{% url 'text:en_details_pdf_text' element.id %}">{{ element.title }}</a> </p>
</div>
{% endfor %}
    </div>
</div>


<br>
<div class="container my-5">
<div class="row">
{% for element in text_list_template %}
<div class="col-lg-4 col-md-6 mb-2">

    <div class="view overlay z-depth-3-half">

        {% if element.picture %}

            <img src="{{ MEDIA_URL }}{{ element.picture }}" class="img-fluid" alt=""/>
            <div class="mask rgba-white-slight"></div>

        {% endif %}
         <h4 class="my-4 font-weight-bold" style="text-align:center">{{ element.title }}</h4>
        <p style="text-align:justify"> {{ element.subtitle }} </p>


        <div  class="container-fluid d-flex align-items-center justify-content-center">
            <a href="{% url 'text:en_details' element.id %}" class="btn" style="font-weight: bold;">Read</a>

                </div>

    </div>




</div>
{% endfor %}
</div>
    </div>
{% endblock en_homepage %}