{% extends "en_homepage.html" %}
{% load static %}

{% block en_homepage %}

<br><br><br>


{% for element in pdf_book %}
<div class="container my-5">
        <!-- Section heading -->
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-3 text-center text-lg-left">
                <img class="img-fluid" src="{{ MEDIA_URL }}{{ element.picture }}" alt="{{ element.title }}">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-9">
                <h2 class="h1-responsive font-weight-bold text-center mb-5">{{ element.title }}</h2>
        <!-- Section description -->
                <h5 class="lead grey-text text-center w-responsive mx-auto mb-5">{{ element.author }}</h5>

                <p>Read the book {{ element.title }} in another
                        <a href="{{ element.pdf_url }}" target="_blank">tab</a> </p>
             </div>
            <!--Grid column-->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Container -->

<div class="container">
<div class="embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="{{ element.pdf_url }}"  style="border:1px solid black;" width="100%" height="700"></iframe>

</div>

</div>
<!--<div class="container">-->
<!--        <iframe src="https://docs.google.com/viewer?url={{ element.pdf_url }}&embedded=true" style="border:1px solid black;" width="100%" height="700"></iframe>-->

<!--</div>-->

<!--<div class="container">-->
<!--    <div class="embed-responsive">-->
<!--        <iframe src="https://docs.google.com/viewer?url=https://www.ucv.ro/pdf/admitere/2020/Admitere_online_2020_2021_Anexa_la_Regulamentul_de_organizare_si_desfasurare_concurs_admitere.pdf&embedded=true" style="width:600px; height:500px;" frameborder="2"></iframe>-->
<!--</div>-->
<!--</div>-->
{% endfor %}
<div  class="container-fluid d-flex align-items-center justify-content-center">
        <a href="{% url 'book:en_book' %}" class="btn" style="font-weight: bold;">Back</a>

    </div>

<div class="embed-responsive" style="padding-bottom: 141.42%;">
    <object class="embed-responsive-item" data="C:/Users/drduc/PycharmProjects/BoancaIonutSilviu/books/Adrian%20Holovary_The%20Django%20Book.pdf" type="application/pdf">
        <p>Your browser isn't supporting embedded pdf files. You can download the file
            <a href="#">here</a>.</p>
    </object>
</div>


{% endblock en_homepage %}