{% extends "en_homepage.html" %}
{% load static %}

{% block en_homepage %}

<br><br><br>


{% for element in pdf_book %}
<div class="container my-5">
        <!-- Section heading -->
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-3 text-center text-lg-left">
                <img class="img-fluid" src="{{ MEDIA_URL }}{{ element.picture }}" alt="{{ element.title }}">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-9">
                <h2 class="h1-responsive font-weight-bold text-center mb-5">{{ element.title }}</h2>
        <!-- Section description -->
                <h5 class="lead grey-text text-center w-responsive mx-auto mb-5">{{ element.author }}</h5>
                <button class="btn" ><a href="{{ MEDIA_URL }}{{ element.pdf_upload }}" target="_blank"><i class="fa fa-download"></i> Download pdf </a></button>

             </div>
            <!--Grid column-->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Container -->



{% endfor %}
<div  class="container-fluid d-flex align-items-center justify-content-center">
        <a href="{% url 'book:en_book' %}" class="btn" style="font-weight: bold;">Back</a>

    </div>




{% endblock en_homepage %}