{% extends "homepage.html" %}
{% load static %}

{% block homepage %}
<br><br><br>
<div class="container">
<div class="row">
     <div class="col">
<div class="container">
    <h2> Educatie </h2>

{% for edu in education %}

    {{ edu.title }}
<br>

    {{ edu.description }}
<br>

    {{ edu.date }}
<hr>
<br>
{% endfor %}
        </div>
</div>

   <div class="col">
<div class="container">
    <h2> Profesie </h2>

{% for job in jobs %}

    {{ job.title }}
<br>

    {{ job.description }}
<br>

    {{ job.date }}
<hr>
<br>
{% endfor %}
</div>
</div>
    </div>
</div>
{% endblock homepage %}
