{% extends "homepage.html" %}
{% load static %}

{% block homepage %}



{% for element in background_list_template %}

{% if element.picture %}
  <div class="view jarallax" data-jarallax='{"speed": 0.01}' style="background-image: url('{{ MEDIA_URL }}{{ element.picture }}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask  d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12 dark-text text-center">
            <h2 class="display-4 mb-0 pt-md-5 pt-5  font-weight-bold wow fadeInDown" data-wow-delay="3s">{{ element.title }}

            </h2>
            <h5 class="text-uppercase pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5  font-weight-bold wow fadeInDown"
              data-wow-delay="2s">{{ element.subtitle }}</h5>

          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
{% endif %}
{% endfor %}


<div class="container mt-5">
{% for element in direction_list_template %}
          <!--Grid row-->
          <div class="row">

              {% if forloop.counter|divisibleby:2 %}
            <!--Grid column-->
            <div class="col-md-7 mb-4 mb-md-0">

              <h3 class="font-weight-bold">{{ element.title }}</h3>

              <p class="text-muted" style="text-align:justify">{{ element.body }}</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 mb-4 mb-md-0">

              <!--Image-->

                <img src="{{ MEDIA_URL }}{{ element.picture }}" class="img-fluid"
                  alt="">

            </div>
            <!--Grid column-->

              {% else %}
              <!--Grid column-->
            <div class="col-md-5 mb-4 mb-md-0">

              <!--Image-->

                <img src="{{ MEDIA_URL }}{{ element.picture }}" class="img-fluid"
                  alt="">

            </div>
            <!--Grid column-->
              <!--Grid column-->
            <div class="col-md-7 mb-4 mb-md-0">

              <h3 class="font-weight-bold">{{ element.title }}</h3>

              <p class="text-muted" style="text-align:justify">{{ element.body }}</p>

            </div>
            <!--Grid column-->
             <br>
              <hr>
              <br>
              {% endif %}

          </div>
    <br><hr><br>
          <!--Grid row-->
 {% endfor %}
</div>

{% endblock homepage %}