{% extends "homepage.html" %}
{% load static %}

{% block homepage %}



{% for element in background_list_template %}

{% if element.picture %}
  <div class="view jarallax" data-jarallax='{"speed": 0.01}' style="background-image: url('{{ MEDIA_URL }}{{ element.picture }}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask {{ element.mask_overlay }} d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-12 dark-text text-center">
            <h2 class="display-{{ element.title_size }} mb-0 pt-md-5 pt-5 {{ element.title_color }}-text  font-weight-bold wow fadeInDown" data-wow-delay="3s">{{ element.title }}

            </h2>
            <h5 class="display-{{ element.subtitle_size }} text pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 {{ element.subtitle_color }}-text pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5  font-weight-bold wow fadeInDown"
              data-wow-delay="2s">{{ element.subtitle }}</h5>

          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
{% endif %}
{% endfor %}


<div class="container mt-5">
{% for element in direction_list_template %}
          <!--Grid row-->
          <div class="row">

              {% if forloop.counter|divisibleby:2 %}
            <!--Grid column-->
            <div class="col-md-7 mb-4 mb-md-0">

              <h3 class="font-weight-bold">{{ element.title }}</h3>

              <p class="text-muted" style="text-align:justify">{{ element.body }}</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 mb-4 mb-md-0">

              <!--Image-->

                <img src="{{ MEDIA_URL }}{{ element.picture }}" class="img-fluid"
                  alt="">

            </div>
            <!--Grid column-->

              {% else %}
              <!--Grid column-->
            <div class="col-md-5 mb-4 mb-md-0">

              <!--Image-->

                <img src="{{ MEDIA_URL }}{{ element.picture }}" class="img-fluid"
                  alt="">

            </div>
            <!--Grid column-->
              <!--Grid column-->
            <div class="col-md-7 mb-4 mb-md-0">

              <h3 class="font-weight-bold">{{ element.title }}</h3>

              <p class="text-muted" style="text-align:justify">{{ element.body }}</p>

            </div>
            <!--Grid column-->
             <br>
              <hr>
              <br>
              {% endif %}

          </div>
    <br><hr><br>
          <!--Grid row-->
 {% endfor %}
</div>

<div class="container my-5">


  <!--Section: Content-->
  <section class="p-5 z-depth-1">
     {% if title_list %}
    {% for title in title_list %}
    <h3 class="text-center font-weight-bold mb-5">{{ title.title }}</h3>
    {% endfor %}
     {% endif %}
    <div class="row d-flex justify-content-center">
      {% for feature in feature_list %}
      <div class="col-md-6 col-lg-6 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
           <i class="fa fa-{{ feature.icon }} fa-{{ feature.size }} {{ feature.color }}-text"></i>
          <span class="d-inline-block count{{ forloop.counter0 }}" data-from="0" data-to="{{ feature.data_max }}" data-time="{{ feature.data_time_speed }}"></span>
        </h4>
        <p class="font-weight-normal text-muted">{{ feature.title }}</p>
      </div>
      {% endfor %}

    </div>

  </section>
  <!--Section: Content-->


</div>

<div class="container my-5">
  {% if title_list %}
   {% for title in title_list %}
    <h3 class="text-center font-weight-bold mb-5">{{ title.title }}</h3>
    {% endfor %}
  {% endif %}
<div class="row d-flex justify-content-center">

  {% for feature in feature_list %}
<div class="col-md-6 col-lg-6 mb-4 text-center">
  <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
  <h6 class="h1 font-weight-normal mb-3"><span class="d-inline-block count{{ forloop.counter0 }}" data-from="0" data-to="{{ feature.data_max }}" data-time="{{ feature.data_time_speed }}"></span>
</h6>
    <p class="h6 font-weight-normal text-muted">{{ feature.title }}</p>

                                  </div>
  {% endfor %}
                          </div>
</div>

{% endblock homepage %}